.ant-btn, .ant-btn-icon-only.ant-btn-sm, .ant-modal-content, .ant-input, .ant-select-selection, .ant-input-number {
  border-radius: 0px;
}

.good-row {
  background: honeydew;
}

.bad-row {
  background: lavenderblush;
}

.netral-row {
  background: cornsilk;
}

.ant-back-top-inner {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
}
