.ant-btn, .ant-btn-icon-only.ant-btn-sm, .ant-modal-content,
.ant-input, .ant-select-selection, .ant-input-number,
.ant-table, .ant-pagination-item, .ant-calendar,
.ant-calendar-ok-btn, .ant-select-dropdown, .ant-radio-button-wrapper {
  border-radius: 0px!important;
}

.good-row {
  background: honeydew;
}

.bad-row {
  background: lavenderblush;
}

.netral-row {
  background: cornsilk;
}

.ant-back-top-inner {
    height: 40px;
    width: 80px;
    line-height: 40px;
    border-radius: 0px;
    background-color: #1088e9;
    color: #fff;
    text-align: center;
    font-size: 20px;
}

.events {
  list-style: none;
  margin: 0;
  padding: 20px;
  position: absolute;
  width: calc(100% - 10px);
  height: 100%;
  top: 3px;
  left: 5px;
}
.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}
.notes-month {
  text-align: center;
  font-size: 28px;
}
.notes-month section {
  font-size: 28px;
}
